body {
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F55A5A;
  padding: 1.2rem;
}

.nav--logo {
  width: 1.6rem;
  margin-right: 0.5rem;
}

.nav--logo-title {
  color: #fff;
  margin: 0;
  margin-top: -6px;
  font-weight: normal;
  font-size: 1.2rem;
}

.container {
  width: 40rem;
  margin: 2rem auto;
}

.post {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 2rem;
  margin-top: 2rem;
}

.post:last-child {
  border-bottom: 0;
}

.post--img {
  aspect-ratio: 3 / 4;
  width: 10rem;
  border-radius: 8px;
  margin-right: 2rem;
  object-fit: cover;
}

.pin {
  height: 0.7rem;
  margin-right: 0.5rem;
}

.post--info--location .country {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-right: 1rem;
}

.post--info--location .googleMapsLink {
  text-decoration: underline;
  color: gray;
}

.post--title {
  margin: 0 0 1.2rem 0;
  font-size: 2rem;
}

.post--date {
  margin: 0;
  font-size: 1rem;
}

.post--description {
  margin: 0.5rem 0 0 0;
}